<div>
    <ul class="breadcrumb">
        <li>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="stage">
                Stage
            </label>
        </li>
        <li>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="beta">
                Beta
            </label>
        </li>
        <li>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="dev">
                Dev
            </label>
        </li>
    </ul>
</div>



