<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExpectedObjects" version="1.2.3" targetFramework="net452" />
  <package id="FluentAutomation.Core" version="3.0.0.0" targetFramework="net452" />
  <package id="FluentAutomation.SeleniumWebDriver" version="3.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="5.0.5" targetFramework="net452" />
  <package id="NSubstitute" version="2.0.2" targetFramework="net452" />
  <package id="Selenium.Support" version="2.41.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="2.41.0" targetFramework="net452" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net452" />
  <package id="Specflow.FluentAutomation" version="1.0.13" targetFramework="net452" />
</packages>